.container {
  background-color: #282c34;
  position: relative;
  width: 100vw;
  height: 100vh;
  color: #fff;
  font-size: calc(10px + 2vmin);
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

.main {
  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
